<h1> liste des arbres </h1>
<form action="{{ path('search') }}">
    <label>search</label>
    <input type="text" name="searchbyparc" id="search" placeholder="searchbyparc" />
    <input type="submit" value="search">
</form>
{% for acount in a %}
{{acount.id}}
{{acount.position}}
{{acount.dateImplantation | date('d/y/m')}}
{{acount.aRisque}}
{%if acount.aRisque %}
<a href="{{path('remove',{'id':acount.id})}}"> remove</a>
{% endif %}

<a href="{{path('update',{'id':acount.id})}}"> update</a>
<br>
{%endfor%}